{% load static %}
 <head>
    <title>Digital Services </title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #33e7a8 !important;">
<h1 class="font-weight-bold text-dark mt-2 mb-3 ml-5" style="text-decoration: underline;">All services </h1>

{% if services %}
{% include 'partials/service_res.html' %}  

{% else %}
<p>There are no services matching this querry!</p>
{% endif %}
</body>




