{% load static %}

<link href="{% static 'css/forms.css' %}" rel="stylesheet">


<h1>Send message to service provider {{ service.service_provider.sp_name }} </h1>
  <p>Please fill out the form below to contact the service provider to know about {{ service.title }}.</p>
<div class="forms-design">
  <form method="POST">
    {% csrf_token %}
    <div class="zblock">
      {{ form.as_p }}
      <input type="hidden" name="subject" value="Query about service {{ service.title }}">
    </div>
    <button type="submit">Send Message</button>
  </form>
</div>


