{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<body>

<h3 class="text-2xl text-dark">Search results for "{{ service_query }}":</h3> 

<hr>
<h4 class="text-dark">Services matching {{ service_query }}:</h4> 
{% if services %}
{% include 'partials/service_res.html' %}  

{% else %}
<p>There are no services matching this querry!</p>
{% endif %}


{% if service_providers %}
<hr>


<h4 class="text-dark">Service providers matching {{ service_query }}:</h4> 

    {% for service_provider in service_providers %}
    {% include 'partials/service_provider_res.html' %} 
    {% endfor %}

{% endif %}



{% if service_providers is None and service is None %}
<hr>
    <p class="text-dark h4">No service provider or service found.</p>
{% endif %}

</body>
 

    
        















      