{% load static %}
<html>
    <head>
      <title>About | Digital Product E-commerce </title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head> 
<body class="text-dark">
    <br><br><br>
<h1>About</h1>
  <p> Digital Product E-commerce is a platform to buy and digital products.This platform also provide efficient way to promote and sell digital products and services.</p>
  <address>
    You can reach out us through:
    <a class="text-body mr-3" href="{% url 'contact' %}"> Send a message </a> <br>
    Mail : admin@dpemail.com <br>
    Phone : +91 1234567890 <br>
  </address>
</body>
</html>
