<span style="display: inline-block" class="a text-uppercase text-dark bg-light px-2">

    <a href = "{% url 'about' %}" > About </a> <br>
    <a href = "{% url 'contact' %}" > Contact </a> <br>
    <a href = "{% url 'help' %}" > Help </a> <br>
    <a href = "{% url 'shop' %}" > Shop </a> <br>
    <a href = "{% url 'detail' %}" > Product Detail </a> <br>
    <a href = "{% url 'cart_view' %}" > Cart </a> <br>
    <a href = "{% url 'checkout' %}" > Checkout </a> <br>
    <a href = "{% url 'search' %}" > Search </a> <br>

    
    <a href = "{% url 'signup' %}" > Signup</a> <br>
    <a href = "{% url 'login' %}" > Login</a> <br>
    <a href = "{% url 'logout' %}" > Logout</a> <br>
    <a href = "{% url 'forgot' %}" > Forget</a> <br>
    <a href = "{% url 'myaccount' %}" > Myaccount</a> <br>
    <a href = "{% url 'my_store' %}" > Mystore</a> <br>

</span>










