{% load static %}

{% block footer %}
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-2 text-light"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Calicut, Kerala, India</p>
                <p class="mb-2 text-light"><i class="fa fa-envelope text-primary mr-3"></i>admin@dpemail.com</p>
                <p class="mb-0 text-light"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 12345 67890</p>
                <a class="btn bgof text-light mb-2 mt-2" href="{% url 'contact' %}"> Send a message </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url 'frontPage' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="{% url 'shop' %}"><i class="fa fa-angle-right mr-2"></i>All products</a>
                            <a class="text-secondary mb-2" href="{% url 'cart_view' %}"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>


                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url 'myaccount' %}"><i class="fa fa-angle-right mr-2"></i> View account </a>
                            <a class="text-secondary mb-2" href="{% url 'become_vendor' %}"><i class="fa fa-angle-right mr-2"></i> Become a vendor </a>
                        </div>
                    </div>

                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase">Follow Us</h5>
                        <div class="d-flex">
                            <a class="btn bgof mr-2 text-light" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn bgof mr-2 text-light" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn bgof mr-2 text-light" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn bgof mr-2 text-light" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">DPE</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://github.com/aioont">aioont</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class = "img" src="{% static 'img/payments.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
{% endblock %}