{% load static %}

<div class="row px-xl-5 text-dark flex">
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bgof mb-4">
                {% if service_provider.sp_image %}
                <div class="product-img position-relative overflow-hidden">
                    <img class = "img-fluid" src="{{ service_provider.sp_image.url }}" alt="Image of {{ service_provider.sp_name}}">                  
                </div> 
                {% else %}
                <div class="product-img position-relative overflow-hidden align-items-center">
                    <img class = "img-fluid" src="{% static 'img/no-img.png' %}" alt="Image of {{ service_provider.sp_name }}">                  
                </div> 
                {% endif %}  
                
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="{% url 'view_service_category' service_provide_id=service_provider.id  %}"> {{ service_provider.sp_name}} </a>
                        <h5>Email : {{ service_provider.sp_email }} </h5>
                        <h5 class="mt-1"> Service provider contact : {{ service_provider.sp_contact }} </h5>
                        <h5>Service provider stars : {{ service_provider.sp_star }} </h5>
                </div>
            </div>
        </div>

</div>
     


