{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">



<div class="row px-xl-5 text-dark flex">
    {% for k in services %}
       <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
           <div class="product-item bgof mb-4">
                {% if k.image %}
                <div class="product-img position-relative overflow-hidden">
                    <img class = "img-fluid" src="{{ k.image.url }}" alt="Image of {{ k.title}}">                  
                </div> 
                {% else %}
                <div class="product-img position-relative overflow-hidden align-items-center">
                    <img class = "img-fluid" src="{% static 'img/no-img.png' %}" alt="Image of {{ k.title }}">                  
                </div> 
                {% endif %}  
                
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="{% url 'services' %}"> {{ k.title }} </a>
                        <h5 class="mt-1"> Service cost : $ {{ k.price }} <small> cost may vary</small></h5>
                        <h5> Stars : {{ k.stars }} </h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

